<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <h>ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
      </h>
    </div>
  </div>


  <div class="row">
    <div class="col-12 text-center">
      <p class="h4 mt-5 font-weight-bold">新着商品</p>
    </div>
  </div>

  <div class="row">
    <% @items.each do |item| %>
    <div class="col-md-4 mx-">
      <div class="col-md-4">
      <p>
      <%= link_to item_path(item) do %>
      <%= attachment_image_tag item, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg" %>
      <% end %>
      </p>

      <p><%= item.name %></p>
      <p>¥<%= item.price %></p>

      </div>
    </div>
    <% end %>
  </div>
</div>