<div class="container">
  <div class="row">

　　<div class="col-md-10 offset-md-1">
  　　<div class="d-flex align-items-center">
  　　<p class="p-3 mb-10 bg-info text-white">ジャンル編集</p>
  　　</div>
      <p class="h6">ジャンル名</p>
      <%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
　     <%= f.text_field :name %>
　     <%= f.submit "変更を保存", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>